# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Build files
build/
dist/

# Logs
logs
*.log
npm-debug.log*

# python cache
__pycache__/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test coverage
coverage/
